html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper{
    width:1010px;
    margin:0 auto;
    clear:both;
    padding:0;
    color: grey;
    font-family: "Cantarell", Arial, Helvetica, sans-serif;;
}
h3 {
    color:#053877;
}

body {
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 11pt;
}

.content {
    width:580px;
    
}

.content div {
    float:left;
}
.left {
    position:relative;
    height:100px;
    width:150px;
}
img {
    width:150px;
    height:100px;
}


.left input {
    width:150px;
    background-color: red;
    border:1px solid red;
    color: white;
    height:30px;
	  position:absolute;
    bottom:0px;
	left:0px;
}
.font {
    font-weight: bold;
}
.center {
    width:300px;
    padding-left: 15px;
}
.top {
    margin-top:0px;
}
.right {
    margin-top: 15px;
    width:110px;
    text-align:left;
}
.right p {
    margin:0px;
}

span {
    font-style: italic;
}

 h3 {
	width:200px;
	margin: 0 auto;
}

#categories table tr {
	display:inline-block;
	width: 800px;
}

div #map_canvas {
	width: 800px;
	height:500px;
}
#categories div p {
		display: inline-block;
		color: grey;
		margin:3px;
	}
	#categories {
		width:800px;
        text-align: center;
	}

a {
	text-decoration: none;
	}
	a:hover {
		text-decoration:underline;
	}
	#block {
		position:relative;
		top:-491px;
		left:80px;
	}
	#search {
		position:absolute;
	}
	
	#search input {
		width:200px;
		height:35px;
		padding:0px 10px;
	}
	#search input:focus {
		font-size:18px;
	}
	#search img {
	position:absolute;
	right:0px;
	bottom:0px;
		width:40px;
		height:40px;
	}
	/*table tr td:first-child {*/
        /*background-color: red;*/
    /*}*/

 [required] {
     border-color: #88a;
     -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
 }
:invalid {
    border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
}

.td_color {
    width: 230px;
}
a:link, a:visited {
    color:green;
}
a:hover, a:active, header .color a:hover, header .color a:active {
    color:pink;
}
#side_bar a, .color a:link, .color a:visited{
    color:red;
}
.popup {
    left: 50%;
    top: 50%;
    width: 800px;
    width: 800px;
    height: 200px;
    margin-left: -200px;
    margin-top: -100px
}
#side_bar a {
    color: grey;
}
#side_bar .bigger_table_tr {
    font-size: 17px
}

div.gm-style div div div div{
   /* margin-top: 50px;*/
}